.main {
    background-image: url(images/donation13.jpg);
    height: 600px;
}

.upper {
    text-align: center;
    padding: 100px 0px 0px 0px;
    color: wheat;
}

#today h1 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#center {
    font-size: 50px;
}

#text-one {
    font-size: 25px;
    text-align: center;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;

}

.two {
    text-align: center;
}


.three {
    display: flex;
    padding: 15px;
    margin: 20px 30px 30px 120px;
    font-size: 50px;

}

.hundred {
    background-color: beige;
    height: 140px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 50px 0px 0px;

}

#twoo-hundred {
    background-color: beige;
    height: 140px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 50px 0px 0px;
}




#five-hundred {
    background-color: beige;
    height: 140px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 50px 0px 0px;
}

#thawsand {
    background-color: beige;
    height: 140px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 50px 0px 0px;
}

#five-hajar {
    background-color: beige;
    height: 140px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 50px 0px 0px;
}

#donate {
    background-color: chocolate;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;


}

#donate-now {
    background-color: chocolate;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;

}

.text {
    text-align: center;
}

#red {
    background-color: rgb(228, 216, 201);
    height: 300px;
    width: 300px;
}

#child {
    background-color: rgb(145, 158, 87);
    background-size: 500px 500px;
    height: 300px;
    width: 300px;
}

#green {
    background-color: rgb(133, 163, 142);
    background-size: 500px 500px;
    height: 300px;
    width: 300px;
}

.fleible-container {
    margin-bottom: 150px;

}

footer {
    display: block;
    text-align: center;
    padding: 51px;
    background-color: rgb(2, 1, 0);
    color: white;
    margin: 50px 0px 0px 0px;
}

#big {
    font-size: 50px;
}

.contribute {
    display: block;
}

.other {
    display: flex;
    padding: 150px;
}

#half-width {
    width: 50%;
    padding-left: 5%;
}

#mail-input {
    height: 200px;
    width: 600px;
    background-color: beige;
    padding: 10px;
    background-position: center;
    margin-left: 300px;
}

.updates {
    text-align: center;
}

#food {
    background-color: rgb(117, 67, 1);
    color: aliceblue;
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 50px 0px 0px 0px;
}

#shelter {
    background-color: rgb(138, 102, 56);
    color: aliceblue;
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 50px 0px 0px 0px;
}

#education {
    background-color: rgb(88, 54, 9);
    color: aliceblue;
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 50px 0px 0px 0px;
}


.all-added {
    display: flex;
    padding: 20px;
    margin: 5px 30px 30px 170px;
    font-size: 20px;
    display: inline-flexbox;

}